@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --color-primary: #2563eb;
  --color-secondary: #475569;
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
